body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  display: none;
  max-width: 190mm;
}

button#generate-pdf {
  margin-top: 10px;
}

div {
  word-break: break-word;
  max-width: 190mm;
}

.titulo {
  display: flex;
  justify-content: center
}

.page-break {
  page-break-before: always;
}

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin: 5px;
}